#verify{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 6rem;
}

#verify h1{
    font-size: 50px;
}

#verify #p1{
    margin-bottom: 0px;
    text-align: center;
    width: 20rem;
    word-break: break-word;
}

#verify #p2{
    margin-top: 2px;
    text-align: center;
    width: 30rem;
    word-break: break-word;
}


