

#image{
  width:20rem;
  height:20rem;
  margin-right: 1.5rem;
}

#authorizeOption{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem
}
#home{
  display:flex;
  flex-direction: row;
  gap:5rem;
  justify-content: center;
  align-items: center;
  height:100vh;
}
